<p>Hola <%= @project_group.user.name %></p>

<% 
access_level = "read-only"
nivel = "solo lectura"
if @project_group.access_level == 2 then
	access_level = "editor"
	nivel = "editor"
elsif @project_group.access_level == 3 then
	access_level = "co-owner"
	nivel = "co-propietario"
end
%>

<p>Tus permisos en el PGD "<%= link_to @project_group.project.title, project_path(@project_group.project, :only_path => false) %>" han cambiado. Ahora tienes el nivel de acceso "<%= nivel %>".</p>
