<ul class="export_list">
	<li><%= link_to "Visualizar como página web", [:export, plan.project, plan], :target => "_blank" %> (Prefereible para obtener una previsualización de tu plan)</li>
	<li><%= link_to "Visualizar como texto", export_project_plan_path(plan.project, plan, :format => "text"), :target => "_blank" %> (Preferible para copiar y pegar)</li>
	
	<li>Visualizar como PDF (Opción preferible para complartir (ej: por e-mail): 
		<ul class="export_sub_list">
			<li><%= link_to "Con detalles de administración", export_project_plan_path(plan.project, plan, :format => :pdf, :include_admin => 'true'), :target => "_blank" %> (Número de subvención, Identificador, Investigador Principal, Descripción del Proyecto, etc.)</li>
			<li><%= link_to "Sin detalles de administración", export_project_plan_path(plan.project, plan, :format => :pdf), :target => "_blank" %></li>
		</ul>
	</li>
</ul>
