<p>¡Bienvendio a DMPonline, <%= @email %>!</p>

<p>Gracias por registrate en <%= link_to 'DMPonline', root_url %>. Porfavor, confirma tu dirección de e-mail:</p>

<p><%= link_to 'Pincha aquí para confirmar tu nueva cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %> (o copia <%= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %> en tu navegador).</p>
