<p>Hola <%= @resource.email %>!</p>

<p>Un compañero te ha invitado para colaborar en su Plan de Gestión de Datos: <%= link_to 'DMPonline', root_url %></p>

<p><%= link_to 'Pincha en el siguiente enlace para aceptar su invitación', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %> (o copia <%= accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %> en tu navegador).</p>

<p>Si no quieres aceptar la invitación, por favor ignora este e-mail.<br />
Tu cuenta no se creará hasta que accedas al siguiente enlace y establezcas tu contraseña.</p>
