<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar tu contraseña en <%= link_to "DMPonline", root_url %>. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no has realizado esta solicitud, por favor, ignora este e-mail</p>
<p>Tu contraseña no cambiara hasta que la modifiques en el siguiente enlace.</p>
