<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta en <%= link_to "DMPonline", root_url %> ha sido bloqueada debido a un número excesivo de accesos fallidos.</p>

<p>Pincha en el siguiente enlace para desbloquear tu contraseña:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
